@font-face {
  font-family: 'Crafty Girls';
  font-style: normal;
  font-weight: 400;
  src: local('Crafty Girls'), local('CraftyGirls'),
    url(../assets/craftygirls.woff) format('woff');
}

.compHelloWorld {
  font-family: 'Crafty Girls';
  font-size: 128px;
  display: -webkit-flex;
  height: 100%;
  background-image: radial-gradient(white, gold);
}

.compHelloWorld .compLabel {
  margin: auto;
}