.neoAjaxLoader .loader {
  height: 52px;
  background: url(../assets/wait-indicator.png) center center no-repeat;
  -webkit-animation: rotating 1s infinite step-start;
}
.neoAjaxLoader .text,
.neoAjaxLoader .waitText {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: #2873BB;
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(36deg);
  }
  20% {
    -webkit-transform: rotate(72deg);
  }
  30% {
    -webkit-transform: rotate(108deg);
  }
  40% {
    -webkit-transform: rotate(144deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(216deg);
  }
  70% {
    -webkit-transform: rotate(252deg);
  }
  80% {
    -webkit-transform: rotate(288deg);
  }
  90% {
    -webkit-transform: rotate(324deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
