@font-face {
  font-family: 'Crafty Girls';
  font-style: normal;
  font-weight: 400;
  src: local('Crafty Girls'), local('CraftyGirls'),
    url(../assets/craftygirls.woff) format('woff');
}

.compAnimatedCheckbox .svg {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 3px solid black;
}

.compAnimatedCheckbox .checkboxPath {
  stroke: black;
  stroke-width: 13px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.compAnimatedCheckbox .label {
  font-size: 70px;
  margin-left: 30px;
  font-family: 'Crafty Girls';
}

.compAnimatedCheckbox .checkboxPath.tick {
  stroke-dasharray: 126.36976623535156px, 126.36976623535156px;
  stroke-dashoffset: 126.36976623535156px;
  -webkit-transition: stroke-dashoffset 0.2s ease-in-out 0s;
  transition: stroke-dashoffset 0.2s ease-in-out 0s;
}

.compAnimatedCheckbox .checkboxPath.cross {
  stroke-dasharray: 226.274169921875px, 226.274169921875px;
  stroke-dashoffset: 226.274169921875px;
  -webkit-transition: stroke-dashoffset 0.2s ease-in-out 0s;
  transition: stroke-dashoffset 0.2s ease-in-out 0s;
}

.compAnimatedCheckbox .checkboxPath.scribble {
  stroke-dasharray: 499.6658935546875px, 499.6658935546875px;
  stroke-dashoffset: 499.6658935546875px;
  -webkit-transition: stroke-dashoffset 0.8s ease-in-out 0s;
  transition: stroke-dashoffset 0.8s ease-in-out 0s;
}
