html, body, .compApplication {
  height: 100%;
}

body {
  overflow: hidden;
}

.compApplication {
  position: relative;
  width: calc(100% * 2);
}

.compApplication > .viewHolder {
  background-image: linear-gradient(rgb(211, 224, 255),rgb(115, 171, 255));
  overflow: auto;
  position: absolute;
  width: calc(100% / 2);
  height: 100%;
  transition: left 0.5s;
  background-color: white;
}

