html, body, .compApplication {
  height: 100%;
}

body {
  overflow: hidden;
}

.compApplication {
  position: relative;
  width: calc(100% * 2);
}

.compApplication > .viewHolder {
  background-image: linear-gradient(#EDEEEE, #C5CCCC);
  overflow: auto;
  position: absolute;
  width: calc(100% / 2);
  height: 100%;
  transition: left 0.5s;
}

