.neoLayout {
  cursor: inherit;
}
.neoLayout.vertical,
.neoLayout.horizontal {
  display: block;
}
.neoLayout .layoutItem {
  cursor: inherit;
}
.neoLayout.horizontal > .layoutItem {
  display: inline-block;
  cursor: inherit;
}
