html, body, #viewContainer {
  height: 100%;
}

body {
  overflow: hidden;
}

#viewContainer {
  position: relative;
  width: calc(100% * 2);
}

.viewHolder {
  overflow: auto;
  position: absolute;
  width: calc(100% / 2);
  height: 100%;
  transition: left 0.5s;
  background-color: white;
}

