.neoProgressbar {
  width: 100%;
}
.neoProgressbar .container {
  background-color: mediumGray;
  height: 25px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.neoProgressbar .container .textContainer {
  text-align: center;
  color: lightGray;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.neoProgressbar .container .progressElement {
  background-color: green;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  transition: width .25s;
}
.neoProgressbar .container .progressElement.indeterminate {
  width: 25%;
  /*.animation(compProgressBarIndeterminate 5s linear infinite);*/
}
@-webkit-keyframes neoProgressBarIndeterminate {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}
@keyframes neoProgressBarIndeterminate {
  from {
    left: -25%;
  }
  to {
    left: 100%;
  }
}
