.neoSlider {
  width: 100%;
  height: 40px;
}
.neoSlider .ruler {
  width: 100%;
  height: 8px;
  position: absolute;
  border: 1px solid #b6b6b6;
  background: #fff;
  color: #4f4f4f;
  border-radius: 4px;
  box-shadow: inset 0 2px 3px #9e9e9e;
  top: 5px;
}
.neoSlider .dragger {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: white;
  display: inline-block;
  position: absolute;
  margin-left: -9px;
  border: 1px solid gray;
  background-image: radial-gradient(#cccccc, #8d8a8a);
  transition: left .2s;
}
.neoSlider .rulerStep {
  width: 1px;
  height: 10px;
  background-color: gray;
  display: inline-block;
  position: absolute;
  top: -10px;
  pointer-events: none;
}
.neoSlider .rulerStep.first {
  display: none;
}
.neoSlider .rulerStep.last {
  display: none;
}
.neoSlider .rulerStepLabel {
  position: absolute;
  top: 10px;
  color: gray;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
}
