.neoTab {
  width: 100%;
}
.neoTab .tabHeader {
  border: 1px solid green;
  border-radius: 3px;
}
.neoTab .tabHeader .tabTitle {
  display: inline-block;
  padding: 5px 20px;
  cursor: pointer;
  color: green;
}
.neoTab .tabHeader .tabTitle.active {
  background-color: green;
  color: #ffffff;
  border-right: 1px solid green;
}
.neoTab .tabBody .tabComponent {
  display: none;
  padding-top: 5px;
}
.neoTab .tabBody .tabComponent.active {
  display: block;
}
