.neoTable {
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
}
.neoTable > .tableHeading {
  width: 100%;
}
.neoTable > .tableHeading > .headerItem {
  padding: 5px;
  font-weight: bold;
}
.neoTable > .tableRows {
  width: 100%;
  overflow: auto;
}
.neoTable .colItem {
  padding: 5px;
}
.neoTable .rowItem:nth-child(even) {
  background-color: #F0F0F0;
}
.neoTable .rowItem:nth-child(odd) {
  background-color: #DFDFDF;
}
