.neoTooltip {
  border: 2px solid red;
  padding: 5px;
  position: absolute;
  min-width: 200px;
  text-align: center;
  background-image: linear-gradient(#ffff00, #ffd700);
  font-size: 12px;
  z-index: 100;
}
.neoTooltip.left {
  right: 50%;
}
.neoTooltip.right {
  left: 50%;
}
.neoTooltip.top.left {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 0;
}
.neoTooltip.top.right {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 5px;
}
.neoTooltip.bottom.left {
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.neoTooltip.bottom.right {
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.neoTooltip .tooltipArrow {
  width: 0;
  height: 0;
  position: absolute;
}
.neoTooltip.left > .tooltipArrow {
  right: -2px;
}
.neoTooltip.right > .tooltipArrow {
  left: -2px;
}
.neoTooltip.top > .tooltipArrow {
  bottom: -12px;
}
.neoTooltip.bottom > .tooltipArrow {
  top: -12px;
}
.neoTooltip.top.left > .tooltipArrow {
  border-top: 6px solid red;
  border-right: 6px solid red;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
}
.neoTooltip.top.right > .tooltipArrow {
  border-top: 6px solid red;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid red;
}
.neoTooltip.bottom.left > .tooltipArrow {
  border-top: 6px solid transparent;
  border-right: 6px solid red;
  border-bottom: 6px solid red;
  border-left: 6px solid transparent;
}
.neoTooltip.bottom.right > .tooltipArrow {
  border-top: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid red;
  border-left: 6px solid red;
}
