.compTooltip {
  border: 2px solid red;
  padding: 5px;
  position: absolute;
  min-width: 400px;
  text-align: center;
  left: 50%;
  background-image: linear-gradient(yellow, gold);
}

.compTooltip.orientTop {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.compTooltip.orientBottom {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.compTooltip.orientTop > .tooltipArrow {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -12px;
  left: -2px;
  border-bottom: 6px solid transparent;
  border-left: 6px solid red;
  border-right: 6px solid transparent;
  border-top: 6px solid red;
}

.compTooltip.orientBottom > .tooltipArrow {
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  left: -2px;
  border-bottom: 6px solid red;
  border-left: 6px solid red;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
}
