section {
  position: relative;
  display: inline-block;
}

.neoNotification {
  pointer-events: none;
  top: -12px;
  right: -12px;
  font-size: 12px;
  background: red;
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
}

.neoHighlight {
  -webkit-animation: glowing 1s infinite alternate;
  animation: glowing 1s infinite alternate;
}

@-webkit-keyframes glowing {
  from {
    box-shadow: 0 0 10px 1px blue;
  }

  to {
    box-shadow: 0 0 20px 1px blue;
  }
}

@keyframes glowing {
  from {
    box-shadow: 0 0 10px 1px blue;
  }

  to {
    box-shadow: 0 0 20px 1px blue;
  }
}