section {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.neoNotification {
  pointer-events: none;
  top: -12px;
  right: -12px;
  font-size: 12px;
  background: red;
  position: absolute;
  color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
}

.neoHighlight {
  position: absolute;
  top: -3%;
  left: -3%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 70px;
  height: 70px;
  pointer-events: none;
}

.neoHighlight > .path {
  stroke-width: 5px;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  stroke-dasharray: 275.00433349609375px, 275.00433349609375px;
  stroke-dashoffset: 275.00433349609375px;
  transition: stroke-dashoffset 0.3s ease-in-out 0s;
}

section .uiBlockMask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
}